body {
	font-size: 12px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	background-color: white;
	margin: 3px 3px 12px;
}

p {
	padding: 0px;
	margin: 0px;
}

h1, h2, h3 {
	padding: 0px;
	margin: 0px;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 12px;
	font-weight: bold;
}

table, td {
	border-collapse: collapse;
	border: 1px solid #c4c4c4;
}

td {
	padding: 6px;
}

table {
	width: 100%;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	padding: 0;
	margin: 0;
	list-style-position: inside;
}